
@{
    ViewData["Title"] = "Index";
}

<img class="avatar avatar-128 img-circle img-thumbnail" style="width:295px;height:265px;" src="@ViewData["AvatarPath"]" />
<form asp-action="AddImage" asp-controller="Personal" method="post" enctype="multipart/form-data">
    <div>
        <div class="form-group">
            <label class="btn btn-default">
                <input id="Avatar" type="file" name="uploadedFile" accept="image/*" />
                <input type="submit" value="Загрузить" class="btn btn-primary" />
            </label>
        </div>
    </div>
</form>
<br>
<div>
    <label>ФИО:</label>
    @if (ViewData["FIO"] != null)
    {
        <span>@ViewData["FIO"]</span>
    }
    <br>
    <label>Дата рождения:</label>
    @if (ViewData["DateBirth"] != null)
    {
        <span>@ViewData["DateBirth"]</span>
    }
    <br>
    <label>Полных лет:</label>
    @if (ViewData["Age"] != null)
    {
        <span>@ViewData["Age"]</span>
    }
    <br>
    <label>Телефон:</label>
    @if (ViewData["Telephone"] != null)
    {
        <span>@ViewData["Telephone"]</span>
    }
    <br>
    @if (ViewData["UserType"] != null)
    {
        @if (ViewData["UserType"].ToString() == "Student")
        {
            <label>Класс:</label>
            @if (ViewData["NumberClass"] != null)
            {
                <span>@ViewData["NumberClass"]</span>
            }
            <br>
        }
        else if (ViewData["UserType"].ToString() == "Teacher")
        {
            <label>Предмет преподавания:</label>
            @if (ViewData["SubjectName"] != null)
            {
                <span>@ViewData["SubjectName"]</span>
            }
            <br>
        }
    }
</div>